.center {
  text-align: center;
}
 ul {
  list-style: none;
 }

.clickable {
  color: blue;
  cursor: pointer;
}

.clickable:hover {
  text-decoration: underline;
}

.my-badge {
  margin-bottom: 12px
}
